@font-face {
  font-family: "Outfit";
  font-weight: 400;
  src: url("public/assets/fonts/outfit/static/Outfit-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Outfit";
  font-weight: 600;
  src: url("public/assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("ttf");
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  src: url("public/assets/fonts/outfit/static/Outfit-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "YoungSerif";
  font-weight: 400;
  src: url("public/assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("ttf");
  font-style: normal;
}
